<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OneComme ピン留め読み上げ拡張プラグイン</title>
    <link rel="stylesheet" href="https://classless.de/classless.css" />
    <link href="https://cdn.jsdelivr.net/npm/vue-toast-notification@3/dist/theme-sugar.css" rel="stylesheet">
    <style>
      body {
        padding: 8px;
      }
    </style>
  </head>
  <body hidden>
    <div id="app" class="app">
      <template v-if="!loaded">読み込み中...</template>
      <template v-if="loaded">
        <form>
          <fieldset>
            <legend>
              <label for="enable-pinned-speech">ピン留めコメント読み上げ</label>
              <input
                id="enable-pinned-speech"
                type="checkbox"
                v-model="state.enablePinnedSpeech"
              />
            </legend>
            <div :hidden="!state.enablePinnedSpeech">
              <p>
                <label for="pinned-speech-template">読み上げテンプレート</label>
                <input
                  id="pinned-speech-template"
                  type="text"
                  v-model="state.pinnedSpeechTemplate"
                />
              </p>
            </div>
          </fieldset>
          <button @click="save($event)">保存</button>
        </form>
      </template>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-toast-notification@3"></script>
    <script src="./script.js"></script>
  </body>
</html>